/* style.css */

body {
    background-color: #a518b1;
    color: #fff;
    font-family: Arial, sans-serif;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

#upload-button {
    display: none;
}

.upload-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border: 2px dashed #007BFF;
    cursor: pointer;
    border-radius: 5px;
    height: 200px;
}

label {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.desc {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.arrow-down {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    display: none; /* Initially hidden */
}

.arrow-down::before {
    content: "\25BC"; /* Down arrow character */
    font-size: 24px;
}

/* "+" button styling */
.upload-button {
    font-size: 150px; /* Increase the font size for a larger "+" sign */
    color: #ffffff; /* Black color */
    cursor: pointer;
    margin-left: 5px; /* Add a small margin to separate it from Image 19 */
    background: none; /* Remove the background color */
    border: none; /* Remove any border */
    padding: 0; /* Remove padding */
    outline: none; /* Remove the default outline */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide the file input */
#upload-input {
    display: none;
}

.hbd-body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire viewport */
    z-index: -1; /* Place the video behind other content */
}